<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Include Navigation -->
	<%- include('./partials/nav') %>

	<div class="container my-3">
		<h3 style="text-align: center">All About Blogger Diaries</h3>
		<hr />
		<div class="card text-center">
			<div class="card-header"><h4><em>Our Story</h4><em></div>
			<div class="card-body">
				<p class="card-text">
                    Blogger Diaries is a project for making your life easier. Share your thoughts of the day and add them into your timeline.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati accusantium repellat excepturi corrupti? Possimus necessitatibus dolore perferendis ab, enim fuga tempore sit voluptas non quaerat doloribus molestiae iusto soluta! 
				</p>
			</div>
		</div>
	</div>

	<!-- Include Footer -->
	<%- include('./partials/footer') %>
</body>
