<!-- Including Head -->
<%- include('./partials/head') %>

<body>
    <div class="container my-3">
        <h3 style="text-align: center;">Harsh's Blogs</h3>
        <hr>
        <div class="card text-center">
            <div class="card-header font-weight-bold" style="font-size: 20px;">
                Not Found
            </div>
            <div class="card-body">
                <p class="card-text"> OOPS! The page your searching for does not exist.</p>
            </div>
        </div>
    </div>

    <!-- Include Footer -->
    <%- include('./partials/footer') %>